# LLM Providers
OPENAI_API_KEY=sk-xxxx
GOOGLE_GENERATIVE_AI_API_KEY=AIxxx
QWEN_API_KEY=sk- # TONGYI QWEN API Key
XIAOMI_API_KEY=sk-xxxx # Xiaomi API Key

# MaaS
MAAS_TYPE=OPEN_ROUTER # Options: OPEN_ROUTER | QINIU
OPEN_ROUTER_API_KEY= # If using OPEN_ROUTER
QINIU_API_KEY= # If using QINIU

# Tools (URL context)
JINA_API_KEY=jina_xxx # Jina API Key for URL context tool. Get API key from https://jina.ai/reader/

