services:
  postgres:
    image: postgres:17
    container_name: my-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "15432:5432" # 宿主机 15432 -> 容器 5432
    volumes:
      - ./pgdata:/var/lib/postgresql/data
